body{
  background-color:greenyellow;
  margin: 0;

}

header{

  background-color: red;
  height : 90px;
}

h1{
  float: left;
}
nav{
float: left;
}

ul{
  display: inline-block;
  margin-right: 20px;
  margin-top: 35px;
  

}

li{
  display: inline-block;
  padding-left: 20px;
}

a{
  text-decoration: none;
}



p{
  background-color:burlywood;
  margin: 50px;
  padding: 30;
}


img{
width: 350px;
height: 350px;
}



footer{
  background-color: gray;
  height: 30;
}





